.App {
  text-align: center;
  background-color: var(--dark_green);
  color: var(--white);
}

:root{
  --dark_green: #0b2e36;
  --light_green: #49b85f;
  --gray: #808a8c;
  --white: #ffffff;
}

*{
  font-family: sans;
  margin: 0;
  padding: 0;
}

h1{
  color: var(--light_green);
}

